@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-transparent: rgba(0, 0, 0, 0);
}

.dark {
    --color-bg-primary: #200;
    --color-bg-secondary: #350000;

    --color-text-primary: #ff8f8f;
    --color-text-secondary: white;
    --color-text-accent: crimson;

    --color-border-primary: #700;
    --color-border-secondary: var(--color-bg-secondary);
    
    --color-btn: rgb(70, 14, 14);
    
    --color-input: rgb(70, 14, 14);
    
    --color-shadow-primary: #5c2768;
}

.light {
    --color-bg-primary: #4D4498;
    --color-bg-secondary: #5553A6;
    
    --color-text-primary: #A0B6DD;
    --color-text-secondary: #8A9CCF;
    --color-text-accent: #000;
    
    --color-border-primary: #8296ad;
    --color-border-secondary: var(--color-bg-secondary);

    --color-btn-primary: #6664bd;
    --color-btn-secondary: #4D4498;

    --color-shadow-primary: #646AB4;
}


.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@layer components {
    .btn {
        @apply  
            p-2
            flex justify-center items-center
            rounded-lg border
            bg-btn text-secondary border-primary
            hover:text-primary hover:border-secondary
            focus:outline-none
            transition duration-200 ease-in-out;
    }
    .input-text{
        @apply
            p-2 w-full
            rounded-lg
            text-primary bg-input
            placeholder:text-secondary
            focus:outline-none
            transition duration-200 ease-in-out;
    }
    .input-textarea{
        @apply
            input-text
            h-28;
    }
    .input-check{
        @apply
            h-5 w-5
            bg-input appearance-none rounded-md
            cursor-pointer
            checked:border-secondary checked:bg-red-400
            focus:outline-none
            transition duration-200 ease-in-out;
    }
    .input-select{
        @apply
            input-text
            text-center;
    }
    .main-container{
        @apply
            w-9/12 sm:w-1/2 py-4 px-6 mx-auto
            border rounded-3xl bg-secondary
            border-primary;
    }
    .view-container{
        @apply
            main-container my-0
            relative
            sm:w-4/6 mb-4;
    }
}

@keyframes animloader {
    0% {
        box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }

    33% {
        box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }

    66% {
        box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }

    100% {
        box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

/* removes arrows in type number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* removes arrows in type number inputs */
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg-secondary) var(--color-transparent);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-track {
    background: var(--color-transparent);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-secondary);
    border-radius: 1rem;
}