@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-transparent: rgba(0, 0, 0, 0);
}

.dark {
    --color-bg-primary: #060304;
    --color-bg-secondary: #041312;

    --color-text-primary: lime;
    --color-text-secondary: white;
    --color-text-accent: darkgreen;

    --color-border-primary: rgb(68, 68, 68);
    --color-border-secondary: var(--color-bg-secondary);

    --color-btn: rgb(0, 40, 40);
    --color-input: rgb(0, 40, 40);
}

.light {
    --color-bg-primary: #edebf2;
    --color-bg-secondary: #b5b0a9;

    --color-text-primary: #39587a;
    --color-text-secondary: black;
    --color-text-accent: #647c9c;

    --color-border-primary: darkslategrey;
    --color-border-secondary: var(--color-bg-secondary);

    --color-btn: #6664bd;
    --color-input: #4D4498;
}


.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@layer base {
    a {
        @apply hover:text-accent transition duration-200 ease-in-out;
    }

    button,[type=submit] {
        @apply p-2 flex justify-center items-center rounded-full bg-btn text-secondary hover:text-primary focus:outline-none transition duration-200 ease-in-out;
    }

    h1 {
        @apply text-primary font-semibold text-xl sm:text-2xl mb-2;
    }

    input[type=text],[type=number],[type=password],[type=email] {
        @apply inpt;
    }

    input[type=checkbox] {
        @apply h-5 w-5 bg-input appearance-none rounded-md cursor-pointer checked:border-secondary checked:bg-red-400 focus:outline-none transition duration-200 ease-in-out;
    }

    textarea {
        @apply inpt h-28;
    }

    select {
        @apply inpt text-center;
    }

    nav {
        @apply min-h-[18%] sm:min-h-[7%] p-4 w-full flex flex-col sm:flex-row justify-center sm:justify-end items-center bg-secondary;
    }

    nav a{
        @apply mb-2 sm:mb-0 sm:mr-5
    }
}

@layer components {
    .inpt {
        @apply p-2 w-full rounded-md text-primary bg-input placeholder:text-secondary placeholder:opacity-50 disabled:italic disabled:opacity-70 focus:outline-none transition duration-200 ease-in-out;
    }

    .layout-btn {
        @apply mb-3 sm:mb-0 sm:ml-5
    }

    .main-container {
        @apply relative w-9/12 sm:w-1/2 py-4 px-6 mx-auto border rounded-3xl bg-secondary border-primary;
    }

    .view-container {
        @apply main-container my-0 sm:w-4/6 mb-4;
    }
}

@keyframes animloader {
    0% {
        box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }

    33% {
        box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }

    66% {
        box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }

    100% {
        box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

/* removes arrows in type number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* removes arrows in type number inputs */
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg-secondary) var(--color-transparent);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-track {
    background: var(--color-transparent);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-secondary);
    border-radius: 1rem;
}