@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dark {
    --color-bg-primary: #1F2326;
    --color-bg-secondary: #1E3030;

    --color-text-primary: #F48B0C;
    --color-text-secondary: #EEE9E6;
    --color-text-accent: #857C77;

    --color-border-primary: #46474B;
    --color-border-secondary: #46474B;

    --color-btn-primary: #1E3030;
    --color-btn-secondary: #1F2326;

    --color-transparent: rgba(0, 0, 0, 0);
}

.light {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #F2F2F2;

    --color-text-primary: #000;
    --color-text-secondary: #1E2029;
    --color-text-accent: #8BBAE9;

    --color-border-primary: #1E2029;
    --color-border-secondary: #1E2029;

    --color-btn-primary: #F2F2F2;
    --color-btn-secondary: #FFFFFF;

    --color-transparent: rgba(0, 0, 0, 0);
}


.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }

    33% {
        box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }

    66% {
        box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }

    100% {
        box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

/* removes arrows in type number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* removes arrows in type number inputs */
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg-secondary) var(--color-transparent);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-track {
    background: var(--color-transparent);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-secondary);
    border-radius: 1rem;
}